# PCA

In [16]:
import kagglehub
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("anishdevedward/loan-approval-dataset")

print("Path to dataset files:", path)

data = pd.read_csv(path + "/loan_approval.csv")
data.head()

Path to dataset files: /home/iadel/.cache/kagglehub/datasets/anishdevedward/loan-approval-dataset/versions/1

,name,city,income,credit_score,loan_amount,years_employed,points,loan_approved
0,Allison Hill,East Jill,113810,389,39698,27,50.0,False
1,Brandon Hall,New Jamesside,44592,729,15446,28,55.0,False
2,Rhonda Smith,Lake Roberto,33278,584,11189,13,45.0,False
3,Gabrielle Davis,West Melanieview,127196,344,48823,29,50.0,False
4,Valerie Gray,Mariastad,66048,496,47174,4,25.0,False

In [17]:
data = data.drop(['name'], axis=1)

In [18]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
for col in data.select_dtypes(include=['int64', 'float64']).columns:
    data[col] = scaler.fit_transform(data[[col]])

In [19]:
from sklearn.preprocessing import LabelEncoder
for col in data.select_dtypes(include=['object', 'boolean']).columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])

In [20]:
data.head()

,city,income,credit_score,loan_amount,years_employed,points,loan_approved
0,326,0.673565,-1.152134,1.013076,0.557034,-0.358497,0
1,989,-1.333961,0.965919,-0.694358,0.641960,-0.090161,0
2,763,-1.662100,0.062632,-0.994067,-0.631939,-0.626832,0
3,1793,1.061799,-1.432464,1.655511,0.726887,-0.358497,0
4,841,-0.711674,-0.485570,1.539415,-1.396279,-1.700175,0

In [21]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X = data.drop('loan_approved', axis=1)
y = data['loan_approved']

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = DecisionTreeClassifier()
model.fit(x_train, y_train)

y_pred = model.predict(x_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy * 100:.2f}%")

Accuracy: 100.00%

In [22]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_pca = pca.fit_transform(X)

print("Explained variance ratio of each principal component:", pca.explained_variance_ratio_)

Explained variance ratio of each principal component: [9.99982981e-01 6.45854061e-06 3.57229981e-06]

In [23]:
x_train_pca, x_test_pca, y_train, y_test = train_test_split(X_pca, y, test_size=0.2, random_state=42)

model_pca = DecisionTreeClassifier()
model_pca.fit(x_train_pca, y_train)

y_pred_pca = model_pca.predict(x_test_pca)
accuracy_pca = accuracy_score(y_test, y_pred_pca)
print(f"Accuracy after PCA: {accuracy_pca * 100:.2f}%")

Accuracy after PCA: 92.25%