# Pandas session1 recap

In [13]:
import pandas as pd

data = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
})

print(data)

print(type(data))

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
<class 'pandas.core.frame.DataFrame'>

In [2]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes
None

In [3]:
print(data.describe())

         A    B    C
count  3.0  3.0  3.0
mean   2.0  5.0  8.0
std    1.0  1.0  1.0
min    1.0  4.0  7.0
25%    1.5  4.5  7.5
50%    2.0  5.0  8.0
75%    2.5  5.5  8.5
max    3.0  6.0  9.0

In [ ]:
# Slicing

print(data['A'])  # column

print(data.iloc[1]) # row
print(type(data.iloc[1]))

0    1
1    2
2    3
Name: A, dtype: int64
A    2
B    5
C    8
Name: 1, dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
# single value
print(data.iloc[1, 2])
print(data['B'][1])

8
5

In [20]:
# Change index
data.index = ['x', 'y', 'z']
print(data)

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [19]:
data_indexed = data.set_index('A', drop=True)
# data_indexed.columns.name = 'Columns'
print(data_indexed)

   B  C
A
1  4  7
2  5  8
3  6  9

In [25]:
# Reshaping the dataframes

# Melt Example
data = pd.DataFrame(
    {
        'Names': ['Alice', 'Bob', 'Charlie'],
        'Cairo': [1, 0, 1],
        'Alex': [0, 1, 0],
        'Age': [25, 30, 35]
    }
)

print("____Data Before Melt____")
print(data)

data_melted = pd.melt(data, id_vars=['Names', 'Age'], var_name='City', value_name='Visited')
print("____Data After Melt____")
print(data_melted)

____Data Before Melt____
     Names  Cairo  Alex  Age
0    Alice      1     0   25
1      Bob      0     1   30
2  Charlie      1     0   35
____Data After Melt____
     Names  Age   City  Visited
0    Alice   25  Cairo        1
1      Bob   30  Cairo        0
2  Charlie   35  Cairo        1
3    Alice   25   Alex        0
4      Bob   30   Alex        1
5  Charlie   35   Alex        0

In [30]:
# Pivot Example
data_pivoted = data_melted.pivot(index=['Names', 'Age'], columns='City', values='Visited')
print("____Data After Pivot____")
print(data_pivoted)

____Data After Pivot____
City         Alex  Cairo
Names   Age
Alice   25      0      1
Bob     30      1      0
Charlie 35      0      1

In [33]:
# Concatenation and Merging
data1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
data2 = pd.DataFrame({
    'ID': [4, 5, 6],
    'Name': ['David', 'Eva', 'Frank']
})
data_concat = pd.concat([data1, data2], ignore_index=True)
print("____Concatenated Data____")
print(data_concat)

____Concatenated Data____
   ID     Name
0   1    Alice
1   2      Bob
2   3  Charlie
3   4    David
4   5      Eva
5   6    Frank

In [35]:
# Adding more columns
data_concat['Age'] = [25, 30, 35, 40, 28, 33]
print("____Data After Adding Age Column____")
print(data_concat)

____Data After Adding Age Column____
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
4   5      Eva   28
5   6    Frank   33

In [36]:
# Selections based on conditions
adults = data_concat[data_concat['Age'] >= 30]
print("____Adult Data____")
print(adults)

____Adult Data____
   ID     Name  Age
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
5   6    Frank   33