# Data structure
- Sequential: List , Tuple
- Non-sequential: Dictionary , Set

In [13]:
tmp = [3,4,6,7,3,7,87,34,57,89,34, "Hello"]
print(tmp)
print(type(tmp))

# Slicing
print(tmp[3])
print(tmp[3:9])
print(tmp[-1])
print(tmp[-2])

# Modify elements
tmp[-2] = 70
print(tmp)

# Cant call index out of range
# print(tmp[100])  # This will raise an IndexError

# Adding elements
tmp.append(100)
print(tmp)

tmp.insert(2, 200)
print(tmp)

tmp_2 = [1, 2, 3]
# tmp.append(tmp_2)
tmp.extend(tmp_2)
print(tmp)

[3, 4, 6, 7, 3, 7, 87, 34, 57, 89, 34, 'Hello']
<class 'list'>
7
[7, 3, 7, 87, 34, 57]
Hello
34
[3, 4, 6, 7, 3, 7, 87, 34, 57, 89, 70, 'Hello']
[3, 4, 6, 7, 3, 7, 87, 34, 57, 89, 70, 'Hello', 100]
[3, 4, 200, 6, 7, 3, 7, 87, 34, 57, 89, 70, 'Hello', 100]
[3, 4, 200, 6, 7, 3, 7, 87, 34, 57, 89, 70, 'Hello', 100, 1, 2, 3]

In [ ]:
tmp = [3,4,6,7,3,7,87,34]

# Removing elements
tmp.remove(7)  # Removes the first occurrence of 7
print(tmp)

tmp.pop()  # Removes the last element
print(tmp)

tmp.pop(2)  # Removes the element at index 2
print(tmp)

# tmp.clear()  # Clears the list
# print(tmp)

# Sorting
tmp.sort()
print(tmp)

tmp.sort(reverse=True)
print(tmp)

tmp_2 = ["Ziad", "Ahmed", "Ali", "Mohamed"]
tmp_2.sort()
print(tmp_2)

# Reversing
tmp.reverse()
print(tmp)

# Misc.
print(len(tmp))  # Length of the list
print(3 in tmp)  # Check if 3 is in the list
print(tmp.index(3))  # Get the index of the first occurrence of 3
print(tmp.count(3))  # Count occurrences of 3 in the list

[3, 4, 6, 3, 7, 87, 34]
[3, 4, 6, 3, 7, 87]
[3, 4, 3, 7, 87]
[3, 3, 4, 7, 87]
[87, 7, 4, 3, 3]
['Ahmed', 'Ali', 'Mohamed', 'Ziad']
[3, 3, 4, 7, 87]
5
True
0
2

In [ ]:
# Shallow Copy
a = [1, 2, 3]
b = a  # b is a reference to the same list as a
b.append(4)  # Modifying b will also modify a
# b is alias of a
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# Deep Copy
a = [1, 2, 3]
b = a.copy()  
b.append(4)
# b is alias of a
print(a)    
print(b)

[1, 2, 3]
[1, 2, 3, 4]

Given a number, return a list containing the two halves of the number. If the number is odd, make the rightmost number higher.

In [20]:
number = int(input("Please enter a number:"))
if number%2 == 0:
    splitted = [number//2,number//2]
else:
    splitted = [number//2, number//2 + 1]
print(splitted)

[-5, -4]

In [24]:
from math import ceil
number = int(input("Please enter a number:"))
if number%2 == 0:
    splitted = [number//2,number//2]
else:
    splitted = [number//2,ceil(number/2)]
                
print(splitted)

[-5, -4]

In [25]:
user_input = int(input("Enter a number: "))
left = user_input // 2
right = user_input - left
print([left, right])

[5, 6]

# Tuple

In [31]:
tmp = (2,4,6,2,5,34)

print(tmp)
print(type(tmp))

print(tmp[2])

# Cant be modified on any level
# tmp[1] = 7 #Error

print(tmp.count(2))
print(tmp.index(5))

(2, 4, 6, 2, 5, 34)
<class 'tuple'>
6
2
4

# Dict

In [45]:
# Key can be either int or str
# value can be any object
data = {"Name":"Islam Adel", "Age":123} # Key:Value

print(data)
print(type(data))

# slicing
print(data["Name"])
print(data.get("Age"))
print(data.get("Adress","Not Mentioned"))

# Modifications
data["Age"] = 456
print(data)

# Addition
data["Adress"] = "6 October"
print(data)
data["Adress"] = "Giza"
print(data)

data.setdefault("Degree","BsC")
print(data)
data.setdefault("Degree","MsC")
print(data)

tmp_dict = {1:123, 2:456}
data.update(tmp_dict)
print(data)

{'Name': 'Islam Adel', 'Age': 123}
<class 'dict'>
Islam Adel
123
Not Mentioned
{'Name': 'Islam Adel', 'Age': 456}
{'Name': 'Islam Adel', 'Age': 456, 'Adress': '6 October'}
{'Name': 'Islam Adel', 'Age': 456, 'Adress': 'Giza'}
{'Name': 'Islam Adel', 'Age': 456, 'Adress': 'Giza', 'Degree': 'BsC'}
{'Name': 'Islam Adel', 'Age': 456, 'Adress': 'Giza', 'Degree': 'BsC'}
{'Name': 'Islam Adel', 'Age': 456, 'Adress': 'Giza', 'Degree': 'BsC', 1: 123, 2: 456}

In [55]:
data = {"Name":"Islam Adel", "Age":123, "Adress":"6 October", "Gender":"Male"}

# Remove items
data.pop("Adress")
print(data)

data.popitem()
print(data)

print(data.keys())
print(data.values())
print(data.items())

{'Name': 'Islam Adel', 'Age': 123, 'Gender': 'Male'}
{'Name': 'Islam Adel', 'Age': 123}
dict_keys(['Name', 'Age'])
dict_values(['Islam Adel', 123])
dict_items([('Name', 'Islam Adel'), ('Age', 123)])

In [62]:
123 in data.values()

True

# Set

In [66]:
numbers = {12,43,32,45,12,45,65,23} # only values

print(numbers)
print(type(numbers))

print(numbers.difference({12,33,54,23}))
print(numbers.union({12,33,54,23}))
print(numbers.intersection({12,33,54,23}))

{32, 65, 23, 43, 12, 45}
<class 'set'>
{32, 65, 43, 45}
{32, 65, 33, 43, 12, 45, 54, 23}
{12, 23}