Override vs Overload

In [1]:
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        return f"Hello, my name is {self.name} and I am {self.age} years old."
    
class student(person):
    def __init__(self, name, age, student_id): # Overloading the constructor
        super().__init__(name, age)
        self.student_id = student_id

    def greet(self): # Overriding the greet method
        return f"{super().greet()} My student ID is {self.student_id}."
    
ahmed = student("Ahmed", 20, "S12345")
print(ahmed.greet())  # Output: Hello, my name is Ahmed and I am 20 years old. My student ID is S12345.

Hello, my name is Ahmed and I am 20 years old. My student ID is S12345.

Create a function which takes a list of objects from the class IceCream and returns the sweetness value of the sweetest ice cream.

In [4]:
class IceCream():
    def __init__(self, flavour, num_sprinkles):
        self.flavour = flavour
        self.num_sprinkles = num_sprinkles

sweet_values ={
    "Plain":0,
    "Vanilla":5,
    "ChocolateChip":5,
    "Strawberry": 10,
    "Chocolate": 10
}

def sweetest_ice_cream(ice_creams):
    max_sweet = 0
    for ice_cream in ice_creams:
        vlaue = sweet_values[ice_cream.flavour] + ice_cream.num_sprinkles

        if vlaue > max_sweet:
            max_sweet = vlaue

    return max_sweet

ice1 = IceCream("Chocolate", 13)         # value of 23
ice2 = IceCream("Vanilla", 0)           # value of 5
ice3 = IceCream("Strawberry", 7)         # value of 17
ice4 = IceCream("Plain", 18)             # value of 18
ice5 = IceCream("ChocolateChip", 3)      # value of 8

In [5]:
sweetest_ice_cream([ice1, ice2, ice3, ice4, ice5])

23

# Lambda

In [6]:
def add(x,y):
    return x+y

print(add(3,4))

7

In [8]:
add = lambda x,y: x+y

print(add(3,3))
#  Lambda is an anonymous function

6

In [10]:
# Function that checks wether even or odd
def is_even(x):
    if x%2 == 0:
        return True
    else:
        return False

is_even(6)

True

In [11]:
is_even = lambda x: True if x%2 ==0 else False
print(is_even(6))

True

In [ ]:
def check_number(x):
    if x > 0:
        return "Positive"
    else: 
        if x< 0:
            return "negative"
        else:
            return "zero"

check_number = lambda x: "Positive" if x > 0 else "Negative" if x < 0 else "zero"

print(check_number(12))
print(check_number(-2))
print(check_number(0))

Positive
Negative
zero

# List statement

In [ ]:
numbers = []
for i in range(1,11):
    numbers.append(i)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
numbers = [i for i in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
def say_hello_n(n):
    for i in range(n):
        print("Hello")

say_hello_n(5)

Hello
Hello
Hello
Hello
Hello

In [17]:
say_hello_n = lambda n: [print("Hello") for i in range(n)]

say_hello_n(3)

Hello
Hello
Hello

[None, None, None]

A Collatz sequence is generated like this. Start with a positive number. If it's even, halve it. If it's odd, multiply it by three and add one. Repeat the process with the resulting number. The Collatz Conjecture is that every sequence eventually reaches 1 (continuing past 1 just results in an endless repeat of the sequence 4, 2, 1).

The length of the sequence from starting number to 1 varies widely.

Create a function that takes a number as an argument and returns a tuple of two elements â€” the number of steps in the Collatz sequence of the number, and the highest number reached.

In [22]:
def collatz(n):
    steps = 1
    max_number = 0
    collatz_sequence = [n]

    while True:
        if n%2 == 0:
            n = n//2
        else:
            n = (n*3)+1
        collatz_sequence.append(n)
        steps +=1

        if n > max_number:
            max_number = n

        if n == 1 :
            break
    print(collatz_sequence)
    return steps,max_number

collatz(3)

[3, 10, 5, 16, 8, 4, 2, 1]

(8, 16)

# generators

In [27]:
def return_numbers(n):
    numbers = []
    for i in range(1,n):
        numbers.append(i)

    return numbers

x = return_numbers(100000000)[:10]

In [30]:
def return_numbers(n):
    for i in range(1,n):
        yield i

x = return_numbers(100000000)
print(x)

<generator object return_numbers at 0x0000018D31317AC0>

In [34]:
next(x)

4

In [35]:
for c in x:
    print(c)
    if c == 20:
        break

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [36]:
next(x)

21

In [37]:
# map
nums = [1,2,3,4]
for i in range(len(nums)):
    nums[i] = nums[i] * 2

print(nums)

[2, 4, 6, 8]

In [40]:
nums = [1,2,3,4]
# def double(x):
#     return x*2
# nums = list(map(double, nums))
nums = list(map(lambda x:x*2, nums))
print(nums)

[2, 4, 6, 8]

In [41]:
# fiter 

nums = [12,43,46,4,46,68,34,23,65,87,9,12]
evens = []
for i in nums:
    if i %2 == 0:
        evens.append(i)

print(evens)

[12, 46, 4, 46, 68, 34, 12]

In [42]:
evens = list(filter(lambda x: True if x%2 == 0 else False, nums))
print(evens)

[12, 46, 4, 46, 68, 34, 12]

In [ ]:
# reduce
from functools import reduce

nums = [12,43,45,34,65,7,34,34,62]
my_sum = reduce(lambda x,y: x+y , nums)
print(my_sum)

336

In [44]:
sum(nums)

336

In [45]:
nums = [12,43,45,34,65,7,34,34,62]
my_sub = reduce(lambda x,y: x-y , nums)
print(my_sub)

-312

In [47]:
# zip
nums = [1,3,5,7]
names = ["Ahmed","Kamal","Salma"]
print(list(zip(nums,names)))

[(1, 'Ahmed'), (3, 'Kamal'), (5, 'Salma')]

In [51]:
# enum
states = ["Stop", "Start", "Restart"]
print(list(enumerate(states)))

for i,j in enumerate(states):
    print(i,j)

[(0, 'Stop'), (1, 'Start'), (2, 'Restart')]
0 Stop
1 Start
2 Restart

In [60]:
data = [
    {"name": "Zak", "age": 30},
    {"name": "Ahmed", "age": 25},
    {"name": "Hany", "age": 22},
    {"name": "Islam", "age": 32},
    {"name": "Salma", "age": 28},
    {"name": "Mona", "age": 27},
    {"name": "Youssef", "age": 24},
    {"name": "Laila", "age": 29}
]

# print(sorted(data))

In [61]:
sorted(data, key= lambda x: x['name'])

[{'name': 'Ahmed', 'age': 25},
 {'name': 'Hany', 'age': 22},
 {'name': 'Islam', 'age': 32},
 {'name': 'Laila', 'age': 29},
 {'name': 'Mona', 'age': 27},
 {'name': 'Salma', 'age': 28},
 {'name': 'Youssef', 'age': 24},
 {'name': 'Zak', 'age': 30}]

In [66]:
# Examples of all string methods in Python

s = "  Hello, World!  "
t = "hello"
u = "123"
v = "hello123"
w = "HELLO"
x = "hello world"
y = "Hello\nWorld"
z = "apple,banana,cherry"

# 1. capitalize
print(s.capitalize())  # '  hello, world!  '

# 2. casefold
print(s.casefold())  # '  hello, world!  '

# 3. center
print(s.center(30, '*'))  # '******  Hello, World!  ******'

# 4. count
print(s.count('l'))  # 3

# 5. encode
print(s.encode('utf-32'))  # b'  Hello, World!  '

# 6. endswith
print(s.endswith('!  '))  # True

# 7. expandtabs
tab_str = "Hello\tWorld"
print(tab_str.expandtabs(4))  # 'Hello   World'

# 8. find
print(s.find('World'))  # 9

# 9. format
print("My name is {}".format("Ahmed"))  # 'My name is Ahmed'

# 10. format_map
print("{name} is {age}".format_map({'name': 'Ahmed', 'age': 20}))  # 'Ahmed is 20'

  hello, world!
  hello, world!
******  Hello, World!  *******
3
b'\xff\xfe\x00\x00 \x00\x00\x00 \x00\x00\x00H\x00\x00\x00e\x00\x00\x00l\x00\x00\x00l\x00\x00\x00o\x00\x00\x00,\x00\x00\x00 \x00\x00\x00W\x00\x00\x00o\x00\x00\x00r\x00\x00\x00l\x00\x00\x00d\x00\x00\x00!\x00\x00\x00 \x00\x00\x00 \x00\x00\x00'
True
Hello   World
9
My name is Ahmed
Ahmed is 20

In [ ]:
# 11. index
print(s.index('World'))  # 9

# 12. isalnum
print(v.isalnum())  # True

# 13. isalpha
print(t.isalpha())  # True

# 14. isascii
print(s.isascii())  # True

# 15. isdecimal
print(u.isdecimal())  # True

# 16. isdigit
print(u.isdigit())  # True

# 17. isidentifier
print("my_var".isidentifier())  # True

# 18. islower
print(t.islower())  # True

# 19. isnumeric
print(u.isnumeric())  # True

# 20. isprintable
print(s.isprintable())  # True

# 21. isspace
print("   ".isspace())  # True

# 22. istitle
print("Hello World".istitle())  # True

9
True
True
True
True
True
False
True
True
True
True
True

In [69]:
# 23. isupper
print(w.isupper())  # True

# 24. join
print(",".join(["a", "b", "c"]))  # 'a,b,c'

# 25. ljust
print(t.ljust(10, '*'))  # 'hello*****'

# 26. lower
print(w.lower())  # 'hello'

# 27. lstrip
print(s.lstrip())  # 'Hello, World!  '

# 28. maketrans
trans = str.maketrans("H", "J")
print(s.translate(trans))  # '  Jello, World!  '

# 29. partition
print(s.partition(','))  # ('  Hello', ',', ' World!  ')

# 30. replace
print(s.replace("Hello", "Hi"))  # '  Hi, World!  '

# 31. rfind
print(s.rfind('l'))  # 11

# 32. rindex
print(s.rindex('l'))  # 11

# 33. rjust
print(t.rjust(10, '*'))  # '*****hello'

# 34. rpartition
print(s.rpartition(','))  # ('  Hello', ',', ' World!  ')

# 35. rsplit
print(z.rsplit(',', 1))  # ['apple,banana', 'cherry']

# 36. rstrip
print(s.rstrip())  # '  Hello, World!'

# 37. split
print(z.split(','))  # ['apple', 'banana', 'cherry']

# 38. splitlines
print(y.splitlines())  # ['Hello', 'World']

# 39. startswith
print(s.startswith('  He'))  # True

# 40. strip
print(s.strip())  # 'Hello, World!'

# 41. swapcase
print(s.swapcase())  # '  hELLO, wORLD!  '

# 42. title
print(x.title())  # 'Hello World'

# 43. translate
table = str.maketrans("H", "J")
print(s.translate(table))  # '  Jello, World!  '

# 44. upper
print(t.upper())  # 'HELLO'

# 45. zfill
print(u.zfill(6))  # '000123

True
a,b,c
hello*****
hello
Hello, World!
  Jello, World!
('  Hello', ',', ' World!  ')
  Hi, World!
12
12
*****hello
('  Hello', ',', ' World!  ')
['apple,banana', 'cherry']
  Hello, World!
['apple', 'banana', 'cherry']
['Hello', 'World']
True
Hello, World!
  hELLO, wORLD!
Hello World
  Jello, World!
HELLO
000123